<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Binary Search Tree Visualization</title>
    <link rel="stylesheet" href="/static/responsive.css">
</head>
<body>
    <div id="container">
        <h1>Binary Search Tree Visualization</h1>
        <!-- node input n insert button -->
         <div id="controls">
            <input id="nodeValue" type="text" placeholder="Enter Node Value">
            <button onclick="insertNode()">Insert Node</button>
         </div>
         <!-- binary search tree visualization -->
          <div id="treeContainer">
            <p>juice pila do mausomi ka mood off h mera</p>
          </div>
    </div>
    
    <script src="/script/bst.js"></script>
</body>
</html>