<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/animation/css/mode.css">
    <link rel="stylesheet" href="/static/responsive.css">
</head>
<body>
    <div class="fixed_navigation">
        <div class="left">
            <ul>
                <li><a href="visualization.html" target="_blank" rel="noopener noreferrer">visualization</a></li>
                <li>Operating system</li>
                <li>Algorithm</li>
            </ul>
        </div>
        <div class="center">
            logo
        </div>
        <div class="right">
            <ul>
                <li><span class="material-icons">login</span></li>
                <li><a href="feedback.html" target="_blank" rel="noopener noreferrer">Feedback</a></li>
                <li>
                    <button id="toggleMode"><span class="material-icons">sunny</span></button>
                </li>
                <li><input type="text" placeholder="search now">
                    <button class="srchbtn" type="button">search</button>
                </li>
                
                <li><span class="material-icons">menu</span></li>
            </ul>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/animation/js/mode.js"></script>
</body>
</html>