<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generate New Password</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/static/responsive.css">
</head>

<body class="bg-gray-100 text-gray-900">

    <div class="flex justify-center items-center h-screen">
        <div class="bg-gray-300 p-8 w-96 rounded-lg shadow-lg">
            <h1 class="text-3xl font-bold text-blue-400 mb-6 text-center">Generate New Password</h1>
            <form action="newpassword" method="GET">
                <div class="mb-6">
                    <label for="newpassword" class="block text-lg mb-2">New Password:</label>
                    <input type="password" id="newpassword" name="newpassword" placeholder="Enter new password" class="w-full p-3 bg-gray-100 text-gray-900 rounded-md border-2 border-zinc-500 focus:border-blue-400" required>
                </div>
                <button type="submit" class="w-full bg-blue-400 text-white py-3 rounded-md hover:bg-blue-500 transition duration-300 ease-in-out">
                    Generate
                </button>
            </form>
        </div>
    </div>

</body>

</html>
